/* Navigation Links */
.header .navigation .link {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}

.header .navigation .link:hover {
    color: purple;
    font-size: 2.5rem;
}

.background {
    position: fixed;
    z-index: -10;
    height: 100%;
    width: 100%;
    background: url('../src/img/background.jpeg');
    background-size: cover;
    background-position: center center;
    opacity: 0.7;
}

/* Landing Page */
.landing-grid {
    padding-top: 25px;
}

.portrait {
    height: 250px;
    width: 250px;
    background-image: url('./img/portrait.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(90deg);
    border-radius: 50%;
    border: black 2px solid;
}

.job-title-banner {
    /* width: 75%; */
    background-color: rgb(0, 0, 0, 0.3);
    color: #fff;
    margin: auto;
    width: 75%;
    text-align: center;
}

.job-title-banner .job-title {
    font-size: 6rem;
}

.job-title-banner p {
    font-size: 1.4rem;
}

.job-title-banner hr {
    border-top: 2px dotted #fff;
    margin: auto;
    width: 50%;
}

.job-title-banner .social-links {
    display: flex;
    justify-content: center;
}

.job-title-banner .social-links i {
    font-size: 2rem;
    color: #fff;
    padding: 10px;
}

.job-title-banner .social-links i:hover {
    color: purple;
    background-color: yellow;
}